@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic);

html {
    font-family: 'Ubuntu', 'Roboto', 'Noto Sans KR', sans-serif;
}

body {
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

#contents{
    text-align: left;
}

.brand-logo {
    font-weight: 500;
}

.parallax-container .valign {
    width: 100%;
}

.parallax-container .brand-logo {
    margin-bottom: 0;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.member.chip {
    margin: 8px;
}

.member:not(:first-of-type):not(:empty) {
    margin-left: 4px;
}

.member.github, .member.grade {
    display: inline;
}
